
/* ccs Reset */
body {
    font-family: 'Fredericka the Great', cursive;
    margin: 0px;
    padding: 0px;
    background: url('bg.png');
}

.left {
    display: inline-block;
    color: white;
    position: absolute;
    left: 34px;
    top: 6px;

}

.left img {
    width: 100px;
}

.mid {
    display: block;
    color: white;
    /* border: 3px solid bisque; */
    margin: 12px auto;
    padding: auto;
    width: 45%
}

.right {

    color: white;
    position: absolute;
    right: 1px;
    top: 24px;
    display: inline-block;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 20px;

}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 18px 12px;
}

.navbar li a:hover, .navbar li a:active{
   text-decoration: underline;
    color: #fcfc04;
}

.btn {
    margin: 0px 10px;
    color: white;
    background-color: black;
    padding: 3px 4px;
    border-radius: 10px;
    border-color: #5d1b9a;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Fredericka the Great', cursive;
}

.btn:hover {
    background-color: rgb(243, 239, 24);
    color: black;
}

.container {
    color: white;
    /* border: 3px solid red; */
    margin: 99px 40px;
    padding: 0px 21px;
    width: 39%;
    border-radius: 10px;
}

.form-group input {
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Goudy Bookletter 1911', serif;   
    text-align: center;
    display: block;
    width: 300px;
    padding: 6px;
    margin: 3px auto;
    border: 2px solid red;
    border-radius: 17px;

}

.container button {
    display: block;
    width: 30%;
    text-align: center;
    margin: auto;
}
